name: Build & Deploy
on:
  push:
    paths-ignore:
      - README.md

env:
  APP: zara
  BASE_PATH: /samarbeidspartner/sykmelding

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  test-lint:
    name: Test, lint and verify
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: navikt/tsm-workflows/actions/yarn@main
        with:
          READER_TOKEN: ${{ secrets.READER_TOKEN }}
      - run: yarn next typegen
      - run: yarn lint
      - run: yarn tsc

  build-dev:
    name: Build for dev
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/next/build@main
        id: next-build
        with:
          app: ${{ env.APP }}
          env: dev
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          salsa: false
    outputs:
      image: ${{ steps.next-build.outputs.image }}
      digest: ${{ steps.next-build.outputs.digest }}

  build-prod:
    if: github.ref_name == 'main'
    name: Build for prod
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/next/build@main
        id: next-build
        with:
          app: ${{ env.APP }}
          env: prod
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          salsa: false
    outputs:
      image: ${{ steps.next-build.outputs.image }}
      digest: ${{ steps.next-build.outputs.digest }}

  sbom-dev:
    name: Upload SBOM for dev build
    needs: build-dev
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/attest-sign@main
        with:
          image: ${{ needs.build-dev.outputs.image }}
          digest: ${{ needs.build-dev.outputs.digest }}
          team: tsm

  sbom-prod:
    name: Upload SBOM for prod build
    needs: build-prod
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/attest-sign@main
        with:
          image: ${{ needs.build-prod.outputs.image }}
          digest: ${{ needs.build-prod.outputs.digest }}
          team: tsm

  deploy-dev:
    name: Deploy main to dev
    if: github.ref_name == 'main' || startsWith(github.ref_name, 'dev/')
    environment:
      name: dev
      url: https://zara.intern.dev.nav.no
    runs-on: ubuntu-latest
    needs: [build-dev, test-lint]
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais-dev.yaml
          WORKLOAD_IMAGE: ${{ needs.build-dev.outputs.image }}
          NAIS_DEPLOY_SUMMARY: false

  deploy-production:
    name: Deploy main to production
    if: github.ref_name == 'main' && false
    environment:
      name: production
      url: https://zara.intern.dev.nav.no
    runs-on: ubuntu-latest
    needs: [deploy-dev, build-prod]
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/nais-prod.yaml
          WORKLOAD_IMAGE: ${{ needs.build-prod.outputs.image }}
          NAIS_DEPLOY_SUMMARY: false

  security:
    name: Security
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      security-events: write
    needs: build-prod
    uses: navikt/tsm-workflows/.github/workflows/security.yaml@main
    with:
      image: ${{ needs.build-prod.outputs.image }}
